.service {
  margin-top: 32px;
  display: flex;
}
button span {
  margin-left: 10px;
}
.button {
  border-radius: 5px;
  margin-right: 10px;
}

.right {
  margin-left: auto;
}

.btService {
  padding: 11px 15px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.241);
  margin-left: 8px;
}

.wrapperTable {
  margin-top: 32px !important;
  background-color: rgb(255, 255, 255);
  padding: 16px !important;
}

thead tr th,
tbody tr td {
  text-align: left !important;
  color: black !important;
  line-height: 3;
}
thead tr th:nth-child(2) {
  width: 30%;
}
tbody tr td:nth-child(2) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
