.wrapperTable {
    margin-top: 32px !important;
    background-color: rgb(255, 255, 255);
    padding: 16px !important;
  }
.button {
    border-radius: 5px;
    margin-right: 10px;
}
.wrapperTable thead tr th:nth-child(2),
.wrapperTable thead tr th:nth-child(3){
    width: 15%;
}


.wrapperTable tbody tr td:nth-child(2),
.wrapperTable tbody tr td:nth-child(3),
.wrapperTable tbody tr td:nth-child(5){
    -webkit-line-clamp: 1;  /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}