.wrapper{
    padding: 32px;
    background-color: black;
    position: relative;
    bottom: 0;
}
.inner{
    width: 80%;
    margin: auto;
    min-height: 100px;
}
.inner p{
    width: 100%;
    text-align: left;
    margin: 32px 0 0 0;
    color: white;
}
.logo{
    height: 75px;
    
}
.logo img{
    width: 125px;
    height: 75px;
    float: left;
}
.logo h4{
    float: left;
    margin-left: 15px;
    color: #37A837;
    font-weight: 600;
    height: 75px;
    line-height: 75px;
}